<a href="#">
    <div class="card" id="cards-add_card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.005 27.005">
            <defs>
            <style>
                .cls-1 {
                fill: #d9dbe5;
                }
            </style>
            </defs>
            <g id="Group_8" data-name="Group 8" transform="translate(-308 -327)">
            <rect id="Rectangle_8" data-name="Rectangle 8" class="cls-1" width="3.858" height="27.005" rx="1.929" transform="translate(319.574 327)"/>
            <rect id="Rectangle_9" data-name="Rectangle 9" class="cls-1" width="3.858" height="27.005" rx="1.929" transform="translate(335.005 338.574) rotate(90)"/>
            </g>
        </svg>
    </div>
</a>