<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Cardd</title>
</head>
<body>
  <nav class="navbar expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Cardd.io</span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/new_card">+ New card</a>
      </li>
    </ul>
  </nav>

  <div class="container mt-4">

    {% block content %}

    {% endblock %}

  </div>



</body>
</html>
