{% load widget_tweaks %}

<div class="modal" id="modal_create-account">
  <div class="modal-content">
    <span class="close_button">&times;</span>
    <h1>Add card</h1>

    <div id="modal_inputs" style="text-align: center;">

      <form class="" method="POST">{%csrf_token%}

        {{ form.non_field_errors }}

        {{form.name.errors}}
        {{form.name|attr:'placeholder:Name'}}

        {{form.email.errors}}
        {{form.email|attr:'placeholder:Email'}}

        {{form.position.errors}}
        {{form.position|attr:'placeholder:Position'}}

        {{form.company.errors}}
        {{form.company|attr:'placeholder:Company'}}

        {{form.phone.errors}}
        {{form.phone|attr:'placeholder:Phone number'}}

        <div id="radio-buttons">
          {{form.isPublic}}
          <label for="isPublic">Public</label>
        </div>

        {% if user.is_authenticated == False %}

        <hr>

        <a href="/signup" id="modal_create-card">Create card</a>

        {% endif %}

        {% if user.is_authenticated == True %}

        <button value="Save" type="submit" id="modal_create-card">Create card</a>

          {% endif %}


      </form>

    </div>
  </div>
</div>
