{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>Cardd</title>
</head>

<body>
    <section id="social-signin">
        <div class="wrapper">
            <div class="card background-card" id="background-card6">
                <div class="card-text">
                    <h3>Chris Wanstrath</h3>
                    <h4>Former CEO @ Github</h4>
                    <p>cwanstrath@github.com</p>
                </div>
            </div>

            <div class="card background-card" id="background-card4">
                <div class="card-text">
                    <h3>Santiago Zavala</h3>
                    <h4>Partner @ 500 Startups</h4>
                    <p>szavala@500startups.co</p>
                </div>
            </div>

            <div class="card background-card" id="background-card7">
                <div class="card-text">
                    <h3>Chris Wanstrath</h3>
                    <h4>Former CEO @ Github</h4>
                    <p>cwanstrath@github.com</p>
                </div>
            </div>

            <div class="card background-card" id="background-card2">
                <div class="card-text">
                    <h3>Jonathan Chavez</h3>
                    <h4>Developer @ Cardd</h4>
                    <p>jonathanc@cardd.com</p>
                </div>
            </div>

            <div class="card background-card" id="background-card5">
                <div class="card-text">
                    <h3>Satya Nadella</h3>
                    <h4>CEO @ Microsoft</h4>
                    <p>snadella@microsoft.com</p>
                </div>
            </div>

            <div class="card background-card" id="background-card3">
                <div class="card-text">
                    <h3>Sebastian Crossa</h3>
                    <h4>Designer @ Cardd</h4>
                    <p>sebastianc@cardd.com</p>
                </div>
            </div>

            <img src="https://i.ibb.co/ZgmFVH5/logo-final-2.png" alt="Cardd logo" class="logo" style="height: 120px; width: 120px">

            <h1>Cardd</h1>

            <div id="circles">
                <span class="dots dot-margin"></span>
                <span class="dots dot-margin"></span>
                <span class="dots"></span>
            </div>

            <div id="signin-buttons">
                <a href="{% url 'social:begin' 'twitter' %}" class="signin-button" id="signin-twitter">
                    Sign in with Twitter
                </a>

                <a href="{% url 'social:begin' 'google-oauth2' %}" class="signin-button" id="signin-google">
                    Sign in with Google
                </a>
            </div>

            <div class="card background-card" id="background-card1">
                <div class="card-text">
                    <h3>Sam Altman</h3>
                    <h4>President @ YCombinator</h4>
                    <p>saltman@ycombinator.com</p>
                </div>
            </div>
        </div>

        <p id="footer">By continuing, you agree to our <a href="https://termsandconditionsgenerator.com/live.php?token=UY5X0WYZeRDr5LEpaSMfEEwmq4lKHyF9"
                style="font-weight: 600">Terms & Conditions</a></p>
    </section>


    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/vendors.js' %}"></script>

</body>

</html>